<div class="post" id="singlePost">
    <a href="/users/profile/{{data.creator}}">
        <h1>
            {{data.username}}
        </h1>
    </a>
    <!-- if canEdit block -->
    {{#if data.canEdit}}
    <a href="/posts/edit/{{data._id}}" class="editIcon">
        <img src="/public/images/edit.png" alt="Edit this post" />
    </a>
    {{/if}}
    <!-- end if block -->
    <h2>{{ data.date }}</h2>
    <!-- if recipe block -->
    {{#if data.recipe}}
    <a href="/recipes/{{data.recipe._id}}">
        <p>{{ data.recipe.recipeName }}</p>
    </a>
    {{#if data.recipe.youtubeLink}}
    <iframe width="420" height="315" src="{{data.recipe.youtubeLink}}">
    </iframe>
    {{/if}}
    {{/if}}
    <!-- end if block -->
    <br />
    <p>{{ data.text }}</p>
    <!-- if likeList block -->
    <div id="likeDiv">
        {{#if data.likeList}}
        <p>
            <em id="likeList">{{ data.likeList }} like this post</em>
        </p>
        {{/if}}
    </div>
    <!-- end if block -->
    <!-- if liked block -->
    {{#if data.liked}}
    <a href="" id="likePost" class="postInteraction">
        Unlike
    </a>
    {{else}}
    <a href="" id="likePost" class="postInteraction">
        Like
    </a>
    {{/if}}
    <!-- end if block -->
    <a href="/addcomment/{{data._id}}" class="postInteraction">
        Comment
    </a>
    <a href="/feed" class="postInteraction">
        Return to Feed
    </a>
    <!-- if block for comments -->
    {{#if data.comments}}
    <div class="commentDiv">
        <!-- iterate through the comments -->
        {{#each data.comments}}
        <div class="individualComment">
            <p class="commentUser">{{username}}</p>
            <p class="commentText">{{comment}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <!-- end if block -->
    <!-- Hidden postID in order to make AJAX requests -->
    <p id="postID" hidden>{{ data._id }}</p>
</div>
<script src="/public/js/feed.js"></script>