<div class="post">
    <a href="/feed">
        <h1 id="postHyperlink">
            {{username}} - TODO attach hyperlinks to profile
        </h1>
    </a>
    <!-- end if block -->
    <h2>{{ date }}</h2>
    <!-- if recipe block -->
    {{#if recipe}}
    <p>{{ recipe }}</p>
    {{/if}}
    <!-- end if block -->
    <br />
    <p>{{ text }}</p>
    <!-- if likeList block -->
    <div id="likeDiv">
        {{#if likeList}}
        <p>
            <em id="likeList">{{ likeList }} like this post</em>
        </p>
        {{/if}}
    </div>
    <!-- end if block -->
    <!-- if block for comments -->
    {{#if comments}}
    <div class="commentDiv">
        <!-- iterate through the comments -->
        {{#each comments}}
        <div class="individualComment">
            <p class="commentUser">{{username}}</p>
            <p class="commentText">{{comment}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <!-- end if block -->
    <!-- Hidden postID in order to make AJAX requests -->
    <p id="postID" hidden>{{_id}}</p>
</div>