<div class="post">
    <h5>
        <a href="/feed">
            {{username}} - TODO attach hyperlinks to profile
        </a>
    </h5>
    <h6>{{ date }}</h6>
    {{#if recipe}}
    <p>{{ recipe }}</p>
    {{/if}}
    <br />
    <p>{{ text }}</p>
    <div id="likeDiv">
        {{#if likeList}}
        <p>
            <em id="likeList">{{ likeList }} like this post</em>
        </p>
        {{/if}}
    </div>
    {{#if liked}}
    <a href="" id="likePost" class="postInteraction">
        Unlike
    </a>
    {{else}}
    <a href="" id="likePost" class="postInteraction">
        Like
    </a>
    {{/if}}
    <a href="" class="postInteraction">
        Comment
    </a>
    <a href="/posts/{{ _id }}" class="postInteraction">
        Expand Post
    </a>
    <p id="postID" hidden>{{_id}}</p>
</div>