<div class="post">
    <a href="/users/profile/{{creator}}">
        <h1 id="postHyperlink">
            {{username}}
        </h1>
    </a>
    <!-- if canEdit block -->
    {{#if canEdit}}
    <a href="/posts/edit/{{_id}}" class="editIcon">
        <img src="/public/images/edit.png" alt="Edit this post" />
    </a>
    {{/if}}
    <!-- end if block -->
    <h2 class="postDate">{{ date }}</h2>
    <!-- if recipe block -->
    {{#if recipe}}
    <a href="/recipes/{{recipe._id}}">
        <p>{{ recipe.recipeName }}</p>
    </a>
    {{#if recipe.youtubeLink}}
    <iframe width="420" height="315" src="{{recipe.youtubeLink}}">
    </iframe>
    {{/if}}
    {{/if}}
    <!-- end if block -->
    <br />
    <p>{{ text }}</p>
    <!-- if likeList block -->
    <div id="likeDiv">
        {{#if likeList}}
        <p>
            <em id="likeList">{{ likeList }} like this post</em>
        </p>
        {{/if}}
    </div>
    <!-- end if block -->
    <!-- if liked block -->
    {{#if liked}}
    <a href="" id="likePost" class="postInteraction">
        Unlike
    </a>
    {{else}}
    <a href="" id="likePost" class="postInteraction">
        Like
    </a>
    {{/if}}
    <!-- end if block -->
    <a href="/comment/addcomment/{{_id}}" class="postInteraction">
        Comment
    </a>
    <a href="/posts/{{ _id }}" class="postInteraction">
        Expand Post
    </a>
    <!-- if block for comments -->
    {{#if comments}}
    <div class="commentDiv">
        <!-- iterate through the comments -->
        {{#each comments}}
        <div class="individualComment">
            {{#if isCommentOwner}}
                <a class="btn-del comment-delete-icon" data-id="{{_id}}">
                    <img src="/public/images/trash.svg" alt="delete-comment">
                </a>
            {{/if}}
            <p class="commentUser">{{username}}</p>
            <p class="commentText">{{comment}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}

    <!-- end if block -->
    <!-- Hidden postID in order to make AJAX requests -->
    <p id="postID" hidden>{{_id}}</p>
</div>