
    <div class = "myDiv"><h1>Username: {{userInfo.username}}</h1></div>
    <a href="/edit/profile/{{userInfo._id}}"><p class="profileInfo">Edit Profile</p></a>
    <div class="profileInfo">
        {{#if userInfo.isNotMe}} 
            <a href="" class="followLink">{{userInfo.isFollowing}}</a>
        {{/if}}
    </div>
    <div class="profileInfo">Name: {{userInfo.firstName}} {{userInfo.lastName}}</div>
    {{#if userInfo.favoriteCocktail}}
    <div class="profileInfo">Favorite Cocktail: {{userInfo.favoriteCocktail}}</div>
    {{/if}}
    <div class="profileInfo">Birthday: {{userInfo.dateOfBirth}}</div>
    <div class="profileInfo">Membership Age: {{userInfo.daysMembership}} days</div>
    <br/>
    <div class="profileInfo profileBold">Uploaded Recipes:</div>
    <div>
        {{#each userInfo.recipes}} 
            <a href="/recipes/{{this.[0]}}">
                <p class="profileInfo">{{ this.[1] }}</p>
            </a>
        {{/each}}
    </div>
    <div class="profileInfo profileBold">Uploaded Posts:</div>
    <div id="postColumn">    
        {{#each userInfo.posts}} {{> post}} {{/each}}
    </div>

    <p class="userID" hidden>
        {{userInfo._id}}
    </p>

    
    <footer><div>HTML: How to Mix Liquor, Created Spring 2021</div></footer>

        <script src="/public/js/profile.js"></script>